// Myriad Pro
@font-face {
  font-family: 'Myriad Pro';
src: url('../fonts/MyriadPro-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url('../fonts/MyriadPro-It.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url('../fonts/MyriadPro-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldIt.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  src: url('../fonts/MyriadPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src:url('../fonts/MyriadPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


// Gotham Pro
@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src:url('../fonts/Gotham-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
src: url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
src: url('../fonts/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


//rajdhani

@font-face {
  font-family: 'Rajdhani';
src: url('../fonts/Rajdhani-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
src: url('../fonts/Rajdhani-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

