.about-block {
  grid-gap: 0;
  margin-top: 39px;
  background-color: #eeeeee;

  &__slider {
    grid-column: 1/4;
    @include respond-to('1800') {
      grid-column: 1/5;
    }
    @include respond-to('1100') {
      grid-column: 1/6;
    }
    @include respond-to('600') {
      grid-column: 1/7;
    }

  }
}

@media (max-width: 1110px){
  .about-block__slider{
    grid-column: 1/6;
  }
}

@media (max-width: 600px){
  .about-block__slider{
    grid-column: 1/7;
  }
}
