.header{
    grid-column: 2 / 5;
    &__inner{
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 27px 0 25px;
    }
    &__info-gup{
        margin: 0 - 21.5px;
    }
    &__info-item-gup{
        margin: 0 21.5px;
    }
    &__info{
        display: flex;
    }
    &__info-phone{
        display: flex;
        align-items: center;
    }
    &__info-phone-img{
        margin-right: 7px;
        width: 14px;
        height: 14px;
    }
    &__info-phone-text{
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }


}