.header {
  &__inner {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.header-info {
  position: relative;
  max-height: 54px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    width: 100%;
    height: 5px;
  }

  &__inner {
    display: flex;
  }

  &__contact {
    grid-column: 2/4;
    padding: 21px 0 19px;
    @media (max-width: 1100px) {
      display: none;
    }

    &-list {
      display: flex;
      margin: 0 -10px;
      align-items: center;
    }

    &-item {
      margin: 0 5px;
      font-size: 12px;
      @extend %myriad-400;
      transition: all .3s;

      &.tell {
        @extend %gotham-700;
      }
    }
  }

  &__wrapper {
    grid-column: 4/7;
    margin-left: 10vw;
    width: auto;
    display: flex;
    position: relative;
    padding: 18px 0 14px 16px;
    align-items: center;
    @media (max-width: 1100px) {
      grid-column: 2/7;
      justify-content: space-between;
    }

  }

  &__over {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &-1 {
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      height: 100%;
      background-color: $color-primary;
      width: 50%;
    }

    &-2 {
      width: 100%;
      background-color: $color-primary;
      height: 100%;
      margin-left: -30%;
    }
  }

  &__social {
    z-index: 2;
    margin-right: 10px;

    &-list {
      display: flex;
      margin: 0 -13px;
      align-items: center;
      @media (max-width: 440px) {
        margin: 0 -5px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 0 13px;
      @media (max-width: 440px) {
        margin: 0 5px;
      }
    }

  }

  &__search {
    z-index: 2;

    &-wrapper {
      display: flex;
    }

    &-input {
      //background-color: transparent;
      width: 100%;
      border: none;
      outline: none;
    }

    &-img {
      width: 13px;
      height: 13px;
    }
  }

  &__svg {
    width: 13px;
    height: 13px;
    fill: $color-primary;
    transition: all .3s;

    &:hover {
      opacity: .5;
    }

    &-path {
      fill: $color-title;

    }
  }
}

.header-nav {
  padding-top: 6px;
  position: relative;
  z-index: 5;
  @media (max-width: 1100px) {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: $color-primary;
    transition: all .3s;
    transform: translateX(-120vw);
    display: block;
    width: 70%;
    height: 100vh;
    &.active {
      transform: translate(0);
      overflow: visible;

    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 1100px) {
      display: block;
    }
  }

  &__logo {
    margin-right: 19px;
    @media (max-width: 1100px) {
      margin: 0;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  &__list {
    display: flex;
    margin: 0 -15px;
    @media (max-width: 1100px) {
      margin: 0;
      display: block;
      text-align: center;
      padding: 10px 0;
      padding-top: 82px;
    }
  }

  &__item {
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .3s;
    @extend %myriad-400;
    position: relative;
    padding-bottom: 2px;
    @include respond-to('1100') {
      margin: 15px 0 0 0;
      display: block;
      color: $color-title;
    }

    &:hover {
      opacity: .5;
    }

    &:after {
      content: '';
      background-color: transparent;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
    }

    &.active {
      &:after {
        background-color: $color-primary;
      }
    }
  }
}

.header-top {
  height: 100%;
  position: relative;
  padding: 17px 0 58px;
  position: relative;

  &.home {
    padding: 0;
  }

  &__title {
    position: absolute;
    left: 17vw;
    top: 8vw;
    font-size: 2.5vw;
    @extend %gotham-300;
    text-transform: uppercase;
    line-height: 1;
    color: $color-title;

    .home & {
      font-size: 3.667vw;
      top: 22vw;
    }
  }

  &__box {
    background-image: url(../../img/header/line.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 16vw;
    @include respond-to('1100') {
      margin: 0;
      background-size: contain;
    }

    .home & {
      margin-top: -86px;
      background-image: url(../../img/header/header-home.png);
      height: 50vw;
      @include respond-to('1100') {
        margin: 0;
        background-size: contain;
      }
    }
  }

  &__link {
    position: absolute;
    left: 16vw;
    bottom: 7vw;
    font-size: 24px;
    @include respond-to('1100') {
      bottom: 1vw;

    }
    @include respond-to('600') {
      left: 0;
      bottom: 0;
    }

  }
}