
.text {
  font-size: 12px;
  line-height: 1.3;
  @extend %g-400;
}

.text-5 {
  font-size: 14px;
  line-height: 1.3;
  @extend %g-400;
}

.text-5-w600 {
  font-size: 14px;
  line-height: 1.3;
  @extend %g-600;
}


.text-4 {
  font-size: 16px;
  line-height: 1.3;
  @extend %g-400;
  &.italic{
    font-style: italic;
  }

  @include respond-to('1250') {
    font-size: 14px;
  }
}

.text-2 {
  font-size: 18px;
  line-height: 1.3;

  @include respond-to('700') {
    font-size: 16px;
  }
}
.text-9{
  font-size: 20px;
  line-height: 1.3;
  @extend %g-400;
  @include respond-to('1500') {
    font-size: 18px;
  }
  @include respond-to('1250') {
    font-size: 14px;
  }
}
.text-6 {
  font-size: 24px;
  line-height: 1.3;
  @extend %g-400;
  @include respond-to('1500') {
    font-size: 18px;
  }
  @include respond-to('1250') {
    font-size: 14px;
  }

}

.text-3 {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  @extend %g-400;
  @include respond-to('1500') {
    font-size: 18px;
  }
  @include respond-to('700') {
    font-size: 14px;
  }
}

.text-10{
  font-size: 30px;
  line-height: 1.3;
  @extend %g-400;
  @include respond-to('1500') {
    font-size: 18px;
  }
  @include respond-to('1250') {
    font-size: 14px;
  }
}
.text-11{
  font-size: 30px;
  line-height: 1.3;
  @extend %g-400;
}
.text-7 {
  @extend %g-400;
  font-size: 60px;
  line-height: 1.3;
}
.text-11 {
  @extend %g-400;
  font-size: 50px;
  line-height: 1.3;
}

.text-gold {
  background-image: linear-gradient(90deg, rgba(238, 206, 131, 1) 0%, rgba(200, 162, 55, 1) 18%, rgba(255, 222, 135, 1) 37%, rgba(206, 169, 64, 1) 52%, rgba(200, 162, 55, 1) 54%, rgba(215, 174, 68, 1) 75%, rgba(162, 106, 13, 1) 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @extend %g-600;
}
.title-12 {
  @extend %g-700;
  font-size: 20px;
  line-height: 1.4;
}

.title-6 {
  font-size: 22px;
  line-height: 1.4;
  @extend %g-600;
}

.title-7 {
  font-size: 24px;
  line-height: 26px;
  line-height: 1.4;
  @extend %g-600;
}

.title-3 {
  @extend %g-700;
  font-size: 25px;
  line-height: 1.4;

  @include respond-to('700') {
    font-size: 19px;
  }
}


.title-10 {
  @extend %g-700;
  font-size: 40px;
  line-height: 1.4;
}
.title-9 {
  @extend %g-700;
  font-size: 45px;
  line-height: 1.4;
}

.title-5 {
  @extend %g-700;
  font-size: 50px;
  line-height: 1.4;
}


.title {
  @extend %g-700;
  font-size: 55px;
  line-height: 1.4;
  @include respond-to('1500') {
    font-size: 40px;
  }
  @include respond-to('1250') {
    font-size: 29px;
  }
}

.title-11 {
  @extend %g-700;
  font-size: 60px;
  line-height: 1.4;
  @include respond-to('1500') {
    font-size: 40px;
  }
  @include respond-to('1250') {
    font-size: 29px;
  }
}

.title-2 {
  @extend %g-700;
  font-size: 65px;
  line-height: 1.4;
  @include respond-to('1500') {
    font-size: 40px;
  }
  @include respond-to('1250') {
    font-size: 30px;
  }
}
.title-8 {
  @extend %g-700;
  font-size: 94px;
  line-height: 1.4;
}


.white {
  color: #fff;
}

.black {
  text-shadow: 1px 1px 0 #ffff,
  1px -1px 0 #ffff,
  -1px 1px 0 #ffff,
  -1px -1px 0 #ffff;
  color: #000;
  transition: all 1s;

}

.black01 {
  text-shadow: 1px 1px 0 rgba(#fff,.1),
  1px -1px 0  rgba(#fff,.1),
  -1px 1px 0  rgba(#fff,.1),
  -1px -1px 0  rgba(#fff,.1);
  color: #000;
  transition: all 1s;

}

.black-transparent {
  text-shadow: 1px 1px 0 #ffff,
  1px -1px 0 #ffff,
  -1px 1px 0 #ffff,
  -1px -1px 0 #ffff;
  color: rgba(#000, .99);
  transition: all 1s;

}

.opacity-5 {
  opacity: .5;
}

.color05 {
   color: rgba(#fff, .5);
 }
.color07 {
  color: rgba(#fff, .7);
}
.color-grey {
  color: #C5C5C5;
}
.color-7{
  color: #777777;
}
.colorfff{
  color: #ffffff;
}
.bg000{
  background-color: #000000;
}
.text-hover-gradient {
  transition: all .3s;
}

.text-hover-gradient:hover {
  background: linear-gradient(90deg, rgba(238, 206, 131, 1) 0%, rgba(200, 162, 55, 1) 20%, rgba(255, 222, 135, 1) 36%, rgba(232, 201, 112, 1) 53%, rgba(215, 174, 68, 1) 73%, rgba(162, 106, 13, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w100 {
  width: 100%;
  display: block;
}
.wf-400{
  @extend %g-400;
}
.fw-600{
  @extend %g-600;
}

.pl-19{
  padding-left: 19px;
}
.linh15{
  line-height: 1.5;
}

