.info-block {
  margin-top: 318px;
  PADDING-top: 125PX;
  @include respond-to('1600') {
    margin-top: 75px;
  }
  @include respond-to('1250') {
    margin-top: 50px;
  }
  @include respond-to('600') {
    margin-top: 25px;
  }

  &__elements {
    margin-top: 143px;

    &-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    &-item {
      width: 170px;
      height: 200px;
      background-color: #fff;
      position: relative;
      margin: 0 15px 30px;

      &-img {
        width: 68px;
        height: 68px;
        background-size: contain;
        position: absolute;
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
      }

      &-text {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        @extend %gotham-700;
      }
    }
  }

  &__key {
    &-text {
      padding: 29px 8vw 10px 15px;
      background-color: #fff;
      @include respond-to('1250') {
        padding: 20px 15px;
      }
    }

    &-link {
      margin: 25px 0 0 35px;
    }

    &-img {
      width: 100%;
    }

    &-box {
      position: relative;

      @include respond-to('1250') {
        background-color: #ffff;;
      }

      &:after {
        background-image: url(../../img/icons/door.png);
        position: absolute;
        content: '';

        left: 7.8vw;
        top: 50%;
        transform: translateY(-50%);
        width: 43px;
        height: 65px;
        background-repeat: no-repeat;
        background-size: contain;
        @include respond-to('2300') {
          left: 5.8vw;
        }
        @include respond-to('1250') {
          height: 0;
        }


      }

      padding: 27px 0 15px;
      background-image: url(../../img/key-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      @include respond-to('1250') {
        background-image: none;
      }


      &-inner {

        background-image: url(../../img/wrap.png);
        padding: 1.1vw 10px 0.8vw;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 7.2vw;
        @include respond-to('1250') {
          background-image: none;
          margin: 0;
          padding: 0;
        }

      }

      &-text {
        margin-left: 6.2vw;
        font-size: 32px;
        @include respond-to('1250') {
          color: $color-primary;
          margin: 0;
          padding: 0 10px;
          text-align: center;
        }

      }
    }

  }


}
