.slick-slide{
  margin: 0 10px;
  outline: none;

  @include respond-to('400') {
    margin: 0;
  }
}

.slick-slide:active, .slick-slide:focus {
  outline: none;
}
.slick-slide {
  &:focus, a {
    outline: none;
  }
}


.slider{
  &__item{
    outline: none;

  }
  &__img{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    transition: all .5s;

    &:hover{
    transform: scale(1.05);
    }
  }
  &__prev,&__next{
    width: 43px;
    height: 43px;
    background-color: $color-primary;
    position: relative;
    cursor: pointer;
    &:hover{
      opacity: .9;
    }

  }

  &__prev{
    &:after{

    }
  }
  &__arrow{
    &-wrapper{
      margin: 0 -7px;
      display: flex;
    }
    &-item{
      margin: 0 7px;
      &.slick-disabled{
        background-color: #eaeaea;
      }
    }
    &-svg{
      fill: $color-title;
      width: 15px;
      height: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      .slick-disabled &{
        fill: rgba(#0000, .5);
      }
    }
  }
}