.slider-top{
  grid-template-columns: repeat(12, 1fr);
  padding: 130px 0 125px;
  @media (max-width: 1700px) {
    padding: 75px 0;
  }
  @media (max-width: 1700px) {
    padding: 50px 0;
  }
  @media (max-width: 560px) {
    padding: 25px 0;
  }
  &__info{
    margin-top: 15px;
    height: 100%;
    grid-column: 3/5;
    position: relative;
    @include respond-to('1100') {
      grid-column: 2/5;
    }
    @include respond-to('600') {
      grid-column: 2/12;
      margin-top: 0;
      height: auto;
    }

    &-text{
      margin-top: 10px;
      font-size: 16px;
      padding-bottom: 20px;
    }
    &-img{
      width: 92px;
      height: 89px;
    }
    &-arrow{
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -10px;
      left: 0;
      @include respond-to('600') {
        position: static;
        bottom: auto;
        top: auto;
      }
    }
    &-title{
      color: $color-primary;
      margin-top: 15px;
    }
    &-link{
      margin-left: 20px;
      text-transform: uppercase;
      @extend %raj-700;
      font-size: 14px;
      transition: all .3s;
      &:hover{
        opacity: .5;
      }

    }
  }
  &__list{
    grid-column: 5/13;
    @include respond-to('600') {
      margin-top: 20px;
      grid-column: 1/13;
    }
  }
  &__item{
    transition: all .3s;
    cursor: pointer;
    &-img{
      width: 100%;
    }
  }



}

