.slider-two {

  &__item {
    position: relative;

    overflow: hidden;
    background-color: #fff;
    &-img {
      width: 100%;
    }

    &-box {

      position: relative;
      transition: all .9s;
      width: 100%;
      &-wrap{
        padding: 19px 30px;
      }
    }

    &-title {
      font-size: 20px;
      @extend %myriad-400;
    }

    &-text {
      margin-top: 22px;
    }

    &-date {
      margin-top: 30px;
      display: flex;

      &-item-name {
        margin-right: 17px;
      }
    }
  }

  &__hidden {
    position: absolute;
    top: 0;
    transform: translateY(120vh);
    transition: all .9s;
    height: 100%;
    width: 100%;
    background-color: #fff;

    &-img{
      width: 100%;
    }
    &-title{
      font-size: 20px;
      @extend %raj-600;
      text-transform: uppercase;
    }
    &-box{
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff;
      padding: 10px 19px;
      width: 100%;
      -webkit-box-shadow: 0px 0px 40px 31px rgba(117, 158, 158, 0.1) inset;
      -moz-box-shadow: 0px 0px 40px 31px rgba(117, 158, 158, 0.1) inset;
      box-shadow: 0px 0px 40px 31px rgba(117, 158, 158, 0.1) inset;

    }
    &-link{
      margin-top: 19px;
    }
  }
}

.slider-content-js.hover-js {
  overflow: hidden;;
}

.slider-content-hidden-js.hover-js {
  transform: translate(0);
  opacity: 1;
  z-index: 5;
}