
    .burger{
        width: 24px;
        height: 24px;
        -webkit-background-size: cover;
        background-size: cover;
        cursor: pointer;
        transition: background 700ms linear;
        background-image: url(../img/icons/burger.svg);
        @include respond-to('700') {
            height: 21px;
            width: 21px;
            background-repeat: no-repeat;
        }
        &:hover{
            opacity: .5;
        }
        &.active{
            background-image: url(../img/icons/burger-close.svg);
        }
    }


