.form-apartment{
  grid-column: 1/6;
  &__inner{
    display: grid;
    grid-column: 1/6;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
    position: relative;

    @include respond-to('1500') {

      padding: 30px 0;
    }
  }
  &__form{
   grid-column: 2/3;
    @include respond-to('1500') {
      grid-column: 2/5;

    }
    @include respond-to('700') {
      grid-column: 1/6;

    }

  }
  &__img{

    background-image: url(../img/prod-mask.png);
    background-repeat: repeat;
    height: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    max-width: 100%;
    @include respond-to('1500') {
      display: none;
    }
      &-1{
      grid-column: 3/4;
    }
    &-2{
      grid-column: 5/6;
    }
    &-3{
      grid-column: 1/2;
      position: absolute;
    }
  }
  &__info{
    grid-column: 4/5;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond-to('1500') {
      grid-column: 2/5;
background-image: none!important;
      order: -1;
    }
    @include respond-to('700') {
      grid-column: 1/6;

    }

    &-title{
      margin-left: -80px;
      max-width: 550px;
      @include respond-to('1500') {
        margin: 0;
        margin-bottom: 25px;
      }
    }
  }

&__btn{
  @include respond-to('1250') {
    width: 100%;

  }
}
}