.get-block {
  grid-column: 1 / 6;
  position: relative;

  &__inner {
    padding: 104px 0 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;

  }

  &__img {
    max-width: 100%;
    width: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 3/6;
    z-index: -2;
    position: absolute;
  }

  &__img-2 {
    grid-column: 2/3;
    background-image: url(../img/mask-2.png);
    background-repeat: repeat;
    height: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    max-width: 100%;
    text-align: center;
    z-index: -1;
    padding-top: 92px;
    position: absolute;

  }

  &__text-wrapper {
    grid-column: 2/4;
    padding: 33px 0 40px;
    padding-right: 92px;

    &-get {
      padding-right: 130px;
    }
  }

  &__geo {
    position: relative;
    padding-left: 22px;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../img/icons/arrow-tr.svg);
      width: 13px;
      height: 13px;

    }
  }

  &__title-span.w100 {
    width: 100%;
    display: block;
  }

  &__title {
    margin-top: 9px;
  }

  &__text {
    margin-top: 18px;
  }

  &__btn {
    margin-top: 44px;
  }

  &__info {
    margin-top: 143px;

    &-item {
      position: relative;
      padding-left: 19px;
      margin-top: 22px;

      &-num {
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__social {
    width: 100%;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--social__list {
    margin-top: -104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  &--social__item {
    margin: 23px 0;
  }

  &__form-block {
    grid-column: 4/5;
  }

  &__atr {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 43px;
    &-item {
      margin: 0 15px;
      padding:  13px 20px;
      background-color: #000000;
      display: flex;
      align-items: center;
      max-width: 290px;
      &-img{
        margin-right: 20px;
        width: 25px;
        height: 25px;
      }
    }

  }
}