.accor{
  &__box{

  }
  &__item{
    margin: 15px 0;
  }
  &__title{
    padding: 27px 31px;
    position: relative;
    background-color: #000000;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid transparent;
    &.active{

      border: 1px solid #EECE83;
      border-image: linear-gradient(90deg, rgba(238,206,131,1) 0%, rgba(200,162,55,1) 20%, rgba(255,222,135,1) 36%, rgba(232,201,112,1) 53%, rgba(215,174,68,1) 73%, rgba(162,106,13,1) 100%);
      border-image-slice: 1
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 37px;
      width: 11px;
      height: 6px;
      background-image: url('../img/icons/arrow-select.svg');
      background-repeat: no-repeat;
      transform: translateY(-50%) rotate(180deg);
      background-size: cover;
      transition: all .3s;
    }

  }
  &__text{
    transition: all .3s;
    padding: 31px 32px;
    visibility: hidden;
    height:0;
    overflow:hidden;
    opacity:0;
    transition:all 0.2s linear;
    opacity: 0;
    display: none;

    &.active{
      visibility: visible;
      height:auto;
      overflow:none;
      opacity:1;
      display: block;
    }


  }
}

.active.accor__title:after {
  transform: translateY(-50%)  rotate(0);
}