.apartment {
  display: grid;
  grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;

  &__nav {
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
    grid-column: 1/6;
  }

  &__nav-select {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to('1500') {
      grid-column: 2/5;

    }

    @include respond-to('700') {
      grid-column: 1/6;
      flex-direction: column;
    }

    &-item {
      display: flex;
      max-width: 272px;
      width: 100%;

      @include respond-to('1500') {
        max-width: 100%;

        &:nth-child(1) {
          margin-right: 15px;
        }

        width: 100%;

        & .select__two-type-inner {
          width: 100%;
        }

        @include respond-to('700') {

          &:nth-child(1) {
            margin: 0;
          }

          margin-top: 10px;
        }
      }

      &-mr-1 {
        margin-right: -1px;
      }
    }
  }

  &__nav-inner {
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -111px;

    @include respond-to('1500') {
      grid-column: 2/5;
      margin: 0;
      margin-top: 32px;

    }

    @include respond-to('700') {
      grid-column: 1/6;
      flex-direction: column;
      margin-top: 15px;
    }
  }

  &__nav-sort {
    display: flex;
    align-items: center;

    & .text-5 {
      font-size: 12px;
    }

    @include respond-to('700') {
      justify-content: space-between;
    }

    &-inner {
      margin-left: 15px;
      display: flex;
      align-items: center;
      margin: 0 -10px 0 5px;

      @include respond-to('500') {
        margin: 0 -5px 0 5px;
      }
    }

    &-item {
      color: #FFFFFF;
      opacity: 0.5;
      margin: 0 10px;
      transition: all .3s;
      cursor: pointer;

      @include respond-to('500') {
        margin: 0 5px;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        cursor: default;
        opacity: 1;
        background: linear-gradient(90deg, rgba(238, 206, 131, 1) 0%, rgba(200, 162, 55, 1) 20%, rgba(255, 222, 135, 1) 36%, rgba(232, 201, 112, 1) 53%, rgba(215, 174, 68, 1) 73%, rgba(162, 106, 13, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

    }
  }

  &__nav-instock {
    display: flex;
    align-items: center;

    @include respond-to('700') {
      margin-top: 35px;
    }

    @include respond-to('500') {
      & .text-5 {
        font-size: 12px;
      }
    }

    &-item {
      margin: 0 3px;
    }

    &-num {
      background-image: url(../img/icons/border-elips.svg);
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      min-height: 30px;
      padding: 4px;
    }

    &-text-2 {
      padding-right: 3px;
    }
  }

  &__prod {
    padding: 69px 0 0px;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;

    @include respond-to('1500') {
      padding: 50px 0 0;
    }

    @include respond-to('700') {
      padding: 35px 0 0;
    }

    &-inner {
      position: relative;
      grid-column: 2/5;
      display: grid;
      grid-template-columns: 3.175fr 1.25fr 3.175fr;

      @include respond-to('700') {
        grid-column: 1/6;
      }

    }

    &-img {
      background-image: url(../img/prod-mask.png);
      background-repeat: repeat;
      height: 100%;
      -webkit-background-size: contain;
      background-size: contain;
      grid-column: 2/3;
      position: absolute;
      width: 100%;
      max-width: 100%;

    }
  }

  &__list {
    grid-column: 1/4;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: -25px 0;
  }

  &__item {}

  &__more {
    cursor: pointer;
    margin-top: 56px;
    display: flex;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 5px;
    transition: all .3s;

    @include respond-to('1500') {
      grid-column: 2/5;
      margin: 0;
      margin-top: 47px;
      padding: 12px 0;

    }

    @include respond-to('700') {
      grid-column: 1/6;
      margin-top: 47px;
    }

    &-text {
      margin-right: 8px;
      transition: all .3s;

    }

    &:hover &-text {
      background: linear-gradient(90deg, rgba(238, 206, 131, 1) 0%, rgba(200, 162, 55, 1) 20%, rgba(255, 222, 135, 1) 36%, rgba(232, 201, 112, 1) 53%, rgba(215, 174, 68, 1) 73%, rgba(162, 106, 13, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-img img {
      width: 23px;
      height: 23px;
      -webkit-background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.slider__apartment img {
  max-width: 100%;
  width: 100%;
}

.apartment {

  &__item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: calc(41.85% - 0px);
    margin: 25px 0;
    overflow: visible;

    @include respond-to('1500') {
      width: 100%;
    }

    @media(max-width: $md4) {
      display: block;
    }
  }

  &__item-body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 401px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  &__item-body-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &__item-price-box {
    background: #1F1F1F;
    padding: 8px 17px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  &__item-photos {
    max-height: 401px;
    max-width: 127px;
    width: 100%;
    padding: 10px 0 10px 10px;
    background: #000;
    overflow: auto;

    @media(max-width: $md4) {
      max-width: 100%;
      width: 100%;
      display: flex;
    }
  }

  &__item-photos-item {
    padding-right: 10px;
    width: 100%;
    position: relative;
    cursor: pointer;

    @media(max-width: $md4) {
      flex: 0 0 80px
    }

    &.current {
      &::before {
        display: none;
      }
    }

    &::before {
      content: '';
      display: block;
      background: rgba(#000, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}

.apartment__item-photos {
  .mCSB_scrollTools .mCSB_draggerContainer {
    right: -19px;
  }
}

.mCSB_inside>.mCSB_container {
  margin-right: 0px;
}