
    .burger{
        width: 24px;
        height: 24px;
        -webkit-background-size: cover;
        background-size: cover;
        cursor: pointer;
        transition: all .3s;
        background-image: url(../img/icons/burger.svg);
        &:hover{
            opacity: .5;
        }
        &.active{

            background-image: url(../img/icons/burger-close.svg);
        }
    }
