.card {
  &__item-inner {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 382px;
    background-repeat: no-repeat !important;
    height: 100%;
    padding-bottom: 46px;

    &.crew--card {}
  }

  &__item {
    position: relative;

    &-subtext {
      margin-top: 5px;
    }

    &-box {
      margin-top: 1px;

      &-item {
        margin-top: 7px;
        padding-left: 20px;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 13px;
          height: 1px;
          background: linear-gradient(90deg, rgba(238, 206, 131, 1) 0%, rgba(200, 162, 55, 1) 20%, rgba(255, 222, 135, 1) 36%, rgba(232, 201, 112, 1) 53%, rgba(215, 174, 68, 1) 73%, rgba(162, 106, 13, 1) 100%);
        }
      }
    }
  }

  &__item-button {
    padding: 11px 27px 11px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;

    &-text {
      transition: all .3s;
    }

  }

  .active-hover &__item-button-text {
    background: linear-gradient(90deg, rgba(238, 206, 131, 1) 0%, rgba(200, 162, 55, 1) 20%, rgba(255, 222, 135, 1) 36%, rgba(232, 201, 112, 1) 53%, rgba(215, 174, 68, 1) 73%, rgba(162, 106, 13, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


}

.card__item-inner.—Årew--card {
  -webkit-background-size: contain;
  background-size: contain;
  padding-bottom: 76px;
  -webkit-background-size: cover;
  background-size: cover;
}


.card__item-crew {}

.crew--info {
  padding: 252px 25px 30px;
}


.card-apart {
  &__body {}

  &__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__gallery {
    background: #000;
    padding: 10px 10px 0 10px;
    max-width: 100%;
    width: 100%;
    overflow: auto;
  }

  &__gallery-scroll {
    white-space: nowrap;
  }

  &__gallery-item {
    display: inline-block;
    max-width: 85px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}