.catalog {
  grid-column: 1 / 6;
  &__inner {
    padding: 46px 0 43px;
    grid-column: 1 / 6;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
  }
  &__crumb{
    grid-column: 2/5;
  }
  &__title{
    grid-column: 2/5;
    margin-top: 22px;
  }
  &__map{
    grid-column: 2/5;
    margin-top: 51px;
    &-btn{
      margin-top: 21px;
      border-bottom: 1px solid rgba(#fff,.5);
      display: inline-block;
      cursor: pointer;
      transition: all .3s;
    }
  }
  &--button-get{
    margin: 0 auto;
  }
  &--info-title{
    max-width: 600px;
  }
}