.choice {
  grid-column: 1 / 6;

  &__inner {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
    padding: 65px 0 100px;
    @include respond-to('700') {
      padding: 20px 0 20px;
    }
    &.p0 {
      padding: 0;
    }
  }

  &__title {
    grid-column: 2/ 4;
    padding-right: 10px;
    @include respond-to('1500') {
      grid-column: 2/5;
    }
    @include respond-to('700') {
      grid-column: 1/6;
    }
  }

  &__button-map {
    grid-column: 4/ 5;
    margin-top: 43px;
    @include respond-to('1500') {
      margin-top: 32px;
      grid-column: 2/5;
    }
    @include respond-to('700') {
      grid-column: 1/6;
    }
  }

  &__rent-class {
    grid-column: 2/ 5;
    margin-top: 2px;
    display: flex;
    align-items: center;
    margin: 0 -14px;
    @include respond-to('1500') {
      grid-column: 2/5;
      margin-top: 32px;
    }
    @include respond-to('700') {
      grid-column: 1/6;
    }

    &-item {
      display: flex;
      margin: 0 14px;
    }

    &-img {
      margin-right: 10px;

      & img {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__button-get {
    grid-column: 2/ 5;
    margin-top: 104px;
    margin: 104px auto 0;
    width: 33%;
    display: flex;
    justify-content: center;
    @include respond-to('1500') {
      grid-column: 2/5;
      width: 50%;

    }
    @include respond-to('700') {
      grid-column: 1/6;
      width: 100%;
      margin-top: 30px;
    }
  }

  &--apartament {
    margin-top: 67px;
    grid-column: 1/6;
    @include respond-to('700') {
      margin-top: 20px;
    }

  }

  &__apartment {
    grid-column: 1 / 6;
  }
}