.feedback {
  &__inner {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
    padding: 82px 0 0;
    margin-bottom: 101px;
    position: relative;
  }

  &__title {
    grid-column: 2/3;
  }

  &__button {
    grid-column: 4/5;
    margin-left: auto;
  }

  &__slider {
    grid-column: 2/6;
    margin-top: 91px;
  }

  &__item {
    background-color: #000000;
    display: flex;
    height: 100%;
    max-width: 880px;
    width: 100%;

    &-img img {
      object-fit: contain;
      max-width: 365px;
      height: 100%;
    }

    &-info {
      padding: 59px 35px 67px 73px;

      &-name {
        margin-top: 8px;
      }

      &-box {
        margin-top: 44px;

        &-text {
          border-top: 1px solid rgba(#fff, .1);
          border-bottom: 1px solid rgba(#fff, .1);
          padding: 23px 51px 24px 45px;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 27px;
            background-image: url(../img/icons/feedback-icon.svg);
            width: 27px;
            height: 20px;
            -webkit-background-size: contain;
            background-size: contain;
          }
        }

        &-text-2 {
          margin-top: 44px;
          max-height: 173px;
          overflow: auto;
          padding-right: 40px;

          .mCustomScrollBox {
            padding-right: 20px;
          }
        }
      }

    }
  }

  &__img {

    background-image: url(../img/prod-mask.png);
    background-repeat: repeat;
    height: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    max-width: 100%;
    grid-column: 3/4;
    position: absolute;
    left: 0;
  }
}