.hit-on {}

.slider-crew-hit-on-js {
    .slider-garant__container {
        padding-bottom: 0;
    }

    .slider-crew__slide {
        padding-top: 60px;
        position: relative;
        height: 492px;
        display: block;
        max-width: 360px;
        width: 100%;
        transition: all ease .2s;

        &:hover {
            padding-top: 0;

            .crew-text {
                opacity: 1;
            }
        }
    }

    .crew__img-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px 15px 30px 40px;
        min-height: 100%;
        background: url(../img/content/22.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .crew-text {
        opacity: 0;
        font-size: 20px;
        line-height: 30px;
        max-width: 260px;
        width: 100%;
        transition: all ease .2s;
    }
}