.pagination{
  grid-column: 1 / 2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
  &__inner{
    display: flex;
    flex-direction: column;
  }
  &__item{
    display: block;
    margin-top: 20px;
  }
}

