.page-wrap-residence-permit {
    padding-top: 101px;
}

.residence-permit {

    &__inner {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
        position: relative;
        padding-bottom: 60px;
    }

    &__mask-1 {
        grid-column: 1/2;
    }

    &__mask-2 {
        grid-column: 3/6;
    }

    &__title {
        position: absolute;
        z-index: 3;
        max-width: 1150px;
        width: 100%;
        grid-column: 2/5;
        margin-bottom: 104px;
        top: 85px;

        @media(max-width: 700px) {
            grid-column: 1/6;
        }

        span {
            line-height: 115%;
        }
    }

    &__wrapper {
        padding-top: 350px;
        grid-column: 2/3;
        max-width: 470px;
        width: 100%;

        @media(max-width: $md2) {
            grid-column: 2/5;
        }

        @media(max-width: 700px) {
            grid-column: 1/6;
        }
    }

    &__description {
        margin-top: 35px;
        display: block;
        font-size: 24px;
        line-height: 28px;
    }

    .form__home {
        width: 100%;
    }

    &__window {
        position: relative;
        background: #000;
        grid-column: 4/5;
        z-index: 2;
        padding: 106px 103px;

        @media(max-width: 1650px) {
            padding: 50px;
        }

        @media(max-width: $md2) {
            grid-column: 2/5;
        }

        @media(max-width: 700px) {
            grid-column: 1/6;
        }

        @media(max-width: $md5) {
            padding: 50px 20px;
        }
    }

    &__window-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 5px 27px 23px;
        height: 100%;
        position: relative;
        border: 20px solid rgba($color: #101211, $alpha: 1);
        background: #000;
        background-image: url(../img/vng-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__window-label {
        font-weight: bold;
        font-size: 15.465px;
        line-height: 19px;
    }

    &__window-body {}

    &__window-title {
        font-weight: bold;
        font-size: 24.2212px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    &__window-wrapper {
        display: flex;
    }

    &__window-item {
        position: relative;
        display: flex;
        align-items: flex-start;
        font-size: 12px;
        line-height: 15px;
        padding-left: 20px;

        &::before {
            content: '';
            position: absolute;
            left: 0px;
            top: 5px;
            display: block;
            width: 14px;
            height: 1px;
            background: linear-gradient(229.18deg, #EECE83 8.8%, #C8A237 23.75%, #FFDE87 38.7%, #E8C970 52.5%, #D7AE44 67.84%, #A26A0D 82.4%);
        }
    }
}

.residence-permit {}