
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background-color: tomato;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: navy;
}

/* swiper-bullets styling */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  background-color: tomato;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: navy;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
}

.swiper-container {
  padding-bottom: 50px;
}

.slider {
  display: flex;
  position: relative;
}

.slider-nav {
  overflow: hidden;
  width: 100px;
  flex-shrink: 0;

}

.slider-main {
  overflow: hidden;

}

.slider-nav .swiper-slide {
  width: 100px;
  height: 100px;
}

//.slider-nav .swiper-slide img {
//  max-height: 100%;
//}

.swiper-scrollbar {
  background-color: rgba(#ffff, .2);
  width: 1px;
}
.swiper-scrollbar-drag{
  background-color: #ffff;

}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 50;
  width: 1px;
  height: 100%;
}