.slider-crew {

  &__container {
    position: relative;
    padding: 0;
  }

  &__wrapper {
    display: flex;
    align-items: stretch !important;
  }

  &__slide {
    height: 100%;
  }

  &__wrap {

  }

  &__arrow {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;

    &-inner {
      grid-column: 4/5;
      display: flex;
      align-items: flex-end;
      margin-left: auto;
    }

    &-btn {
      cursor: pointer;
      transition: all .3s;

      &-prev {
        margin-right: 60px;
        transform: scale(-1, 1);
      }
    }

    &-svg {
      width: 35px;
      height: 20px;
    }
  }
}

