.thanks {
  grid-column: 1 / 6;
  position: relative;

  & .get-block__text{
    @media(max-width: 700px) {
      text-align: center;

    }
  }
  @media(max-width: 700px) {
    .get-block--social__list {
      margin-top: 0;
    }
  }

  &__inner {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;

    @media(max-width: 700px) {
      background: url("../img/thanks.jpg");
    }

  }

  &__img {
    max-width: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2/3;
    z-index: -2;
    position: absolute;
    background-image: url(../img/mask-2.png);
    height: 100%;
  }



  &__text-wrapper {
    grid-column: 2/3;
    padding: 33px 0 40px;

    @media(max-width: 700px) {
      grid-column: 1/6;
      min-height: 370PX ;

    }

  }


  &__title {
    margin-top: 9px;
    @media(max-width: 700px) {
      text-align: center;

    }
  }

  &__text {
    margin-top: 18px;

  }

  &__btn {
    margin-top: 44px;
    @media(max-width: 700px) {
      text-align: center;
      max-width: 70%;
      margin: 44px auto 0;
    }


  }


  &__social {
    width: 100%;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: 700px) {
      display: none;

    }

  }

  &--social__list {
    margin-top: -104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &--social__item {
    margin: 23px 0;
  }

  &__img-block {
    grid-column: 4/5;

    @media(max-width: 700px) {
      display: none;

    }

    &-img {
      max-width: 100%;
      width: calc(100% - 2px);
      margin: 0 1px;

    }
  }


}