.top{

}

.top-block{
  grid-column: 1 / 6;
  &__inner{
    padding: 104px 0 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.175fr 1.25fr 3.175fr 1fr;

    @include respond-to('1500') {
      padding: 50px 0 40px;
    }
    @include respond-to('700') {
      overflow: hidden;
      margin-left: -20px;
      margin-right: -20px;

    }
    &:after{
      content:'';
      position: absolute;
      left: 9px;
      top: 31px;
      background-image: url('../img/top-sprig.svg');
      width: 100%;
      height: 100%;
      max-width: 634px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      z-index: -1;
      @include respond-to('1250') {
        max-width:100%;
        -webkit-background-size: cover;
        background-size: cover;
        z-index: -2;
        top: 0;
      }


    }
  }
  &__img{
    max-width: 100%;
    width: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 3/5;
    z-index: -1;
    @include respond-to('1250') {
      position: absolute;
      grid-column: 2/5;
      height: 100%;
      object-fit: contain;
    }
    @include respond-to('700') {
      grid-column: 1/6;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: left;
      left: 58px;
      top: 0;
      width: 238%;
      max-width: 1000px;
   object-fit: cover;
      @include respond-to('500') {
        position: absolute;
        top: -222px;
      }

    }
  }
  &__text-wrapper{
    grid-column: 2/3;
    margin-right: -50px;
    padding-top: 20px;
    @include respond-to('1250') {
      grid-column: 2/5;
      margin: 0;
    }
    @include respond-to('700') {
      grid-column: 1/6;
      padding: 0 20px;
    }
  }
  &__geo{
    position: relative;
    padding-left: 22px;
    &:after{
      position: absolute;
      content:'';
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../img/icons/arrow-tr.svg);
      width: 13px;
      height: 13px;

    }
  }
  &__title-span.w100{
    width: 100%;
    display: block;
    @include respond-to('1250') {
    display: inline-block;
      width: auto;
    }
  }
  &__title{
    margin-top: 9px;

  }
  &__text{
    margin-top: 18px;
  }
  &__btn{
    margin-top: 44px;
    @include respond-to('700') {
      padding-left: 0;
    }
  }
  &__info{
    margin-top: 111px;
    @include respond-to('1500') {
      margin-top: 40px;
    }
    &-item{
      position: relative;
      padding-left: 19px;
      margin-top: 22px;
      @include respond-to('1250') {
        display: flex;
      }
      @include respond-to('700') {
        padding-left: 0;
      }
      &-num{
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
        @include respond-to('1250') {
          position: static;
          margin-right: 15px;
          transform: translate(0);
          top: 0;
          left: 0;
        }
      }
    }
  }
  &__social{
    margin-top: 65px;
    width: 100%;
    grid-column: 4/5;
    @include respond-to('1500') {
      margin-top: 15px;
    }
    @include respond-to('500') {
      display: none;
    }

  }
  &--social__list{

    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 14px;
  }
  &--social__item{
    margin: 0 7px;
  }

}